@media (max-width: 768px) {
    body {
        margin: 0;
        background-color: #ffffff;
        overflow-x:hidden;
    }

    :root {
        --cor-destaque: #FFF0F5;
    }

    #nome {
        font-family: 'Dancing Script', cursive;
        font-size: 25px;
    }

    #header{
        font-family: 'Fjalla One', sans-serif;
        font-size: 20px;
        background-image: linear-gradient(to right,blueviolet, #914172 );
        padding: 23px 10px 30px 15px;
        height: 80px;
        width: 99%;
    }
    #marca {
        background-color: rgb(65, 25, 102);
        padding: 2px;
        padding-right: 18px;
        height: 1%;
        width: 100%;
    } 

    #marca * {
        vertical-align: middle;
    }


    #marca img {
        width: 15%;
        margin-right: 10px;
    }

    #marca span {
        font-family: "negrito";
        font-size: 1%;
        color: var(--cor-destaque);
    }
    
    #boasvindas {
        font-family: 'Dancing Script', cursive;
        font-size: 150%;
        display: block;
    }

    #slogan {
        font-family: 'Fjalla One', sans-serif;
        font-size: 100%;
    }

    /*CONTAINER*/

    #container {
        padding: 10px;
        margin-top: 20px;
    }

    /*seção da esquerda*/

    #esquerda {
        width: 100%;
        height: 0%;
        padding: 1%;
        
    }

    #lancamentos {
        font-family: 'Dancing Script', cursive; 
        font-size: 170%;
    }

    #novoLancamento {
        font-family:  'Fjalla One', sans-serif !important;
        border: none;
        background-color: blueviolet;
        color: rgb(0, 0, 0);
        font-size: 90%;
        padding: 6%;
        border-radius: 10px;
        margin-left: 50px;
    }

    #novoLancamento:hover {
        cursor: pointer;  
    }

    #novoLancamento:hover {
        background-image: linear-gradient(to right,blueviolet, rgb(73, 16, 126) );
        transition: 5s;
    }

    #formularioLancamento{
        display: none;
        margin-top: 40px;
        background-color: aliceblue;
        padding: 20px;
        border-radius: 20px;
        font-family: 'Fjalla One', sans-serif; 
    }

    #formularioLancamento input {
        display: block;
        margin: 5px 0px 20px 0px;
        border: 1px solid rgb(119, 11, 182);
        height: 30px;
        border-radius: 10px;
        font-family: 'Dancing Script', cursive;
        font-size: 110%;
    }

    #formularioLancamento label {
        font-size: 23px;
    }

    #descricao {
        width: 70%
    }

    #botaoLancar {
        border: none;
        outline: none;
        background-color: blueviolet;
        color: aliceblue;
        font-family: 'Fjalla One', sans-serif;
        padding: 10px 20px;
        font-size: 120%;
        border-radius: 10px;
    }

    #areaLancamentos {
        margin-top: 10px;
    }

    .blocoLancamento {
        background-color: aliceblue;
        padding: 10%;
        margin-top: 20%;
        border-radius: 20px;
        margin-bottom: 1%;
    }

    .blocoLancamento img {
        width: 10%;
    }

    .descricaoLancamentos {
        
        margin-top: -20px;
        height: 100% !important;
        width: 30% !important;
        float:right;
        text-align: justify;
        font-size: 85%;

    }

    .descricaoLancamentos span {
       
        display:block;
        font-family: 'Fjalla One', sans-serif;
        width: 130%;
        height: 10px;
        padding: 2px;
        text-align: justify;

    }

    .valor {
      
        font-family: 'Fjalla One', sans-serif !important;
        font-size: 150%;
        padding: 15px;
        height: 15% !important;
        width: 90% !important; 
        
    }

    .gasto {
        color: red;
        
    }

    .entrada {
        color: #22af20;
    }

    #direita {
        background-color: aliceblue;
        border-radius: 20px;
        width: 85%;
        padding: 30px;
        text-align: right;
        font-family: 'Dancing Script', cursive;
    }

    #direita img {
        width: 30px;
    }

    #labelRenda {
        font-size: 250%;
        display: block;
    }

    #renda {
        font-size: 500%;

    }

}